
.dashboard {
  .dashboard-card {
    border-radius: 2rem;
    // .p-card {
    //   border-radius: 3%;
    // }
  }

  .balance-icon-container {
    border-radius: 4rem;
    background-color: #3b8afd;

    .balance-icon {
      color: white;
    }
  }
}