.scrollable-button {
  position: fixed;
  top: 15rem;
  left: 0;
  z-index: 100;
  height: 3rem;
}

.invite-dialog {
  .p-chips .p-chips-multiple-container {
    width: 30rem;
  }

  .p-chips-token {
    margin-top: 0.25rem;
  }
}